[Desktop Entry]
Type=Application
Name=PC_Central
Comment=PC_Central
Exec=zsh -c "source /home/centralheron/.zshrc && python /home/centralheron/heron-interfaces/heron_menu/master_menu.py"
Terminal=true
Icon=/home/centralheron/Desktop/.logo_heron.ico
